<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Assesment</title>
</head>

<body>
    <h1>Code Assesment</h1>
    <h2>Problem</h2>
    {{problem}}
    <h2>Expected Results</h2>
    {{expected}}
    <h2>Example Input</h2>
    {{examplein}}
    <h2>Example Output</h2>
    {{exampleout}}

    <form action="http://127.0.0.1:5000/compare" method="post">
        <label for="lang">Language</label>
        <select id="lang" name="lang" size="7">
            <option value="py" selected>Python</option>
            <option value="java">Java</option>
            <option value="cpp">C++</option>
            <option value="go">GoLang</option>
            <option value="cs">C#</option>
            <option value="js">Javascript</option>
            <option value="c">C</option>
          </select><br><br>
        <label for="code">Input ur code here</label><br>
        <textarea rows="5" cols="60" name="code"></textarea><br>
        <button type="submit" name="submit">Submit</button>
    </form>


</body>

</html>